@model PracticeTradeViewModel


<div class="card border-0 box-shadow">
    <div class="card-body padding-0">
        <div class="container-fluid">
            <h2>Oanda Practice Account Info:</h2>
            <br />
            <p>IsRunning: @Model.isRunning</p>
            <br />
            <p>ElapsedTime: $@Model.elapsedTime</p>
        </div>
    </div>
</div>

