@model PracticeTradeModel

<div class="form-row">
    <div class="form-group col-md-6">
        <label asp-for="Instrument">Select Instrument</label>
        <select asp-for="Instrument" asp-items="Model.Instruments" class="form-control selectable"></select>
        <span asp-validation-for="Instrument" class="text-danger"></span>
    </div>

    <div class="form-group col-md-6">
        <label asp-for="Strategies">Select Strategy</label>
        <select asp-for="Strategy" asp-items="Model.Strategies" class="form-control selectable"></select>
        <span asp-validation-for="Strategies" class="text-danger"></span>
    </div>
</div>

<div class="form-row pt-4">
    <div class="col-lg-2">
        <button id="start-button" type="submit" class="btn btn-primary btn-lg box-shadow pl-5 pr-5">Start</button>
        <br />
        <button id="stop-button" class="btn btn-primary btn-lg box-shadow pl-5 pr-5">Stop</button>
    </div>
</div>