@model BackTestResponseViewModel

<div class="container-fluid">
    <div class="pt-lg-4 text-danger">
        <h4><i class="fas fa-exclamation-circle" aria-hidden="true"></i>Error occurred during back test!</h4>
    </div>
    <ul>
        @foreach (var error in Model.ErrorMessage)
        {
            <li>@error</li>
        }
    </ul>
</div>
