@model HomeAccountsViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="card border-0 box-shadow">
    <div class="card-body padding-0">
        <div class="container-fluid">
            <h3 class="pt-3">Welcome To Your Dashboard</h3>
        </div>
    </div>
</div>

<br />

<div class="card border-0 box-shadow">
    <div class="card-body padding-0">
        <div class="container-fluid">
            <h2>Oanda Live Account Info:</h2>
            <br />
            <p>Account ID: @Model.LiveAccountOanda.account.id</p>
            <br />
            <p>Balance: $@Model.LiveAccountOanda.account.balance</p>
        </div>
    </div>
</div>
<br />
<br />

<div class="card border-0 box-shadow">
    <div class="card-body padding-0">
        <div class="container-fluid">
            <h2>Oanda Practice Account Info:</h2>
            <br />
            <p>Account ID: @Model.PracticeAccountOanda.account.id</p>
            <br />
            <p>Balance: $@Model.PracticeAccountOanda.account.balance</p>
        </div>
    </div>
</div>